<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <script language="JavaScript" src="refine.js"></script>
    <title>Packages</title>
    <meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
    <span class="small"><b>$message.getString("package")</b></span>
    <div class="small">
      &nbsp;$thePackage<br><br>
      #if($classList.size() != 1)
      <input type="search" onkeyup="refine('className',this.value)" autosave="className" placeholder="$message.getString("refine")" results="5"">
      #end
      #foreach($className in $classList)
        <div style="margin-top:4px" id="${util.getClassName($className)}" name="className" class="small">
          <a href="${className}.html" title="className" target="classDetail">${util.getClassName($className)}(${mbInfoObjectNameMap.get($className).size()})</a>
        </div>
      #end
    </div>
  </body>
</html>
